{% extends "base.html" %}
{% block content %}

<div class="form-card">
    <h2>Account Settings</h2>

    <form method="POST">
        <label>Full Name</label>
        <input type="text" name="full_name" required value="{{ user.full_name }}">

        <label>Email</label>
        <input type="email" name="email" required value="{{ user.email }}">

        <label>Role</label>

        <select name="role" required>
        <option value="Physician" {% if user.role == "Physician" %}selected{% endif %}>
        Physician
        </option>

        <option value="Nurse" {% if user.role == "Nurse" %}selected{% endif %}>
        Nurse
        </option>

        <option value="Student" {% if user.role == "Student" %}selected{% endif %}>
        Student
        </option>
        </select>

        <hr>

        <label>Current Password</label>
        <input type="password"
        name="current_password"
        id="password"
        placeholder="Enter current password">
        
        <label>New Password</label>
        <input type="password"
        name="new_password"
        id="new_password"
        placeholder="Enter new password">
        
        <label>Confirm New Password</label>
        <input type="password"
        name="confirm_new_password"
        id="confirm_password"
        placeholder="Confirm new password">
        
        <div class="checkbox-row">
            <input type="checkbox" id="showPassword" onclick="togglePassword()">
            <label for="showPassword">Show Passwords</label>
        </div>

        <button class="btn full" type="submit">Save Changes</button>
    </form>
</div>

{% endblock %}