{% extends "base.html" %}
{% block content %}

<div class="summary">

    <div class="page-header">

        <div>
            <h1>{{ patient.full_name }}</h1>
            <p>MRN: {{ patient.mrn }} | DOB: {{ patient.dob }}</p>
        </div>

        <div style="display:flex; gap:10px;">

            <button onclick="printSummary()" class="btn secondary">
                Print Summary
            </button>

            <a class="btn secondary"
               href="{{ url_for('edit_patient', patient_id=patient.id) }}">
               Edit
            </a>

            <form method="POST"
                  action="{{ url_for('delete_patient', patient_id=patient.id) }}"
                  onsubmit="return confirmDelete()">

                <button class="danger-btn" type="submit">
                    Delete Record
                </button>

            </form>

        </div>

    </div>

    <div class="patient-details">
        <div>
    <h3>Hospital</h3>
    <p>{{ patient.hospital_name }}</p>
</div>

<div>
    <h3>Ward</h3>
    <p>{{ patient.ward }}</p>
</div>

<div>
    <h3>Discharging Physician</h3>
    <p>{{ patient.discharging_physician }}</p>
</div>

<div>
    <h3>Physician Contact</h3>
    <p>{{ patient.physician_contact }}</p>
</div>

        <div>
            <h3>Diagnosis</h3>
            <p>{{ patient.diagnosis }}</p>
        </div>

        <div>
            <h3>Discharge Date</h3>
            <p>{{ patient.discharge_date }}</p>
        </div>

        <div>
            <h3>Clinical Summary</h3>
            <p>{{ patient.summary }}</p>
        </div>

        <div>
            <h3>Medications</h3>
            <pre>{{ patient.medications }}</pre>
        </div>

        <div>
            <h3>Follow-up Instructions</h3>
            <pre>{{ patient.follow_up }}</pre>
        </div>

    </div>

</div>

{% endblock %}