{% extends "base.html" %}
{% block content %}

<div class="form-card">

    <h2>Create Account</h2>

    <p class="hero-text">
        Register to access and manage discharge summaries securely.
    </p>

    <form method="POST">

        <label>Full Name</label>

        <input type="text"
               name="full_name"
               required
               placeholder="Enter your full name">

        <label>Role</label>

        <select name="role" required>
            <option value="Physician">Physician</option>
            <option value="Nurse">Nurse</option>
            <option value="Student">Student</option>
        </select>

        <label>Email</label>

        <input type="email"
               name="email"
               required
               placeholder="Enter your email">

        <label>Password</label>

<input type="password"
       name="password"
       id="password"
       required
       placeholder="Enter your password">

<div class="checkbox-row">
    <input type="checkbox"
           id="showPassword"
           onclick="togglePassword()">

    <label for="showPassword">
        Show Password
    </label>
</div>

<label>Confirm Password</label>

<input type="password"
       name="confirm_password"
       id="confirm_password"
       required
       placeholder="Confirm your password">

        <button class="btn full" type="submit">
            Create Account
        </button>

    </form>

    <p style="margin-top:20px; text-align:center;">
        Already have an account?

        <a class="link" href="{{ url_for('login') }}">
            Login here
        </a>
    </p>

</div>

{% endblock %}